PORT=8080
NODE_ENV=development

MEDIASOUP_RTC_MIN_PORT=20000
MEDIASOUP_RTC_MAX_PORT=20200

MEDIASOUP_WEBRTC_SERVER_UDP_IP=127.0.0.1
MEDIASOUP_WEBRTC_SERVER_TCP_IP=127.0.0.1
MEDIASOUP_WEBRTC_SERVER_UDP_PORT=20000
MEDIASOUP_WEBRTC_SERVER_TCP_PORT=20001

HLS_DIR=hls
HLS_SEGMENT_TIME=1
HLS_PLAYLIST_LENGTH=5

FFMPEG_VIDEO_BITRATE=1000k
FFMPEG_AUDIO_BITRATE=128k